.descricao{
    margin-left: 5%;
    margin-block-start: 4%;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 0px solid;
    margin-left: 5%;
    margin-block-start: 3%;

}

th {
    padding: 15px;
    text-align: left;
    height: 50px;
    background-color: #0647b8;
    color: white;
}


td {
    padding: 15px;
    text-align: left;
    font-size: 15px;
} 

tr:hover {background-color: #5ca6df}

h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: left;
    margin-left: 3%;
    margin-block-start: 2%;
}

.adicional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 3%;
    width: 60%;
}
  
.adicional-id {
    flex-basis: 15%;
}
  
.adicional-nome {
    flex-basis: 60%;
    margin-block-start: 2%;

}
  
.adicional-tipo {
    flex-basis: 30%;
    margin-block-start: 2%;
}

.adicional-cpf {
    flex-basis: 30%;
    margin-block-start: 2%;
}

.adicional-parecer {
    flex-basis: 15%;
    margin-block-start: 2%;
}

.detalhes {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.comprar{
    background-color: #16a137;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.organizar-botao{
    display: flex;
    justify-content: space-between;
}

.comprado {
    background-color: #0bca11;
    color: #fff;
    border-radius: 0;
    font-weight: bold;
    padding: 4px;
}